{% extends "base.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block menu_links %}
     <li><a href="../" class="smoothScroll"><i class="fa fa-home"></i> Go Back</a></li>
{% endblock %}
 
{% block page_header %}
{% endblock %}

{% block content %}

<!-- APPOINTMENT -->
<section id="wizard" data-stellar-background-ratio="3">
  <div class="container">
    <form id="appointment-form" role="form">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
            <h2>Apppointment</h2>
          </div>
          <div class="wow fadeInUp" data-wow-delay="0.8s">
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label for="firstNameField">First Name</label>
                <input type="text" id="firstNameField" class="form-control" placeholder="First Name" />
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label for="lastNameField">Last Name</label>
                <input type="text" id="lastNameField" class="form-control" placeholder="Last Name" />
              </div>
            </div>            
            <div class="col-md-3 col-sm-6">
              <div class="form-group">
                <label for="genderField">Gender</label>
                <select id="genderField" class="form-control">
                  <option>None</option>
                  <option>Female</option>
                  <option>Male</option>
                </select>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="form-group">
                <label for="phoneField">Phone / Mobile No. </label>
                <input type="text" id="phoneField" class="form-control" placeholder="Phone / Mobile  No." />
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label for="emailField">E-mail</label>
                <input type="email" id="emailField" class="form-control" placeholder="E-mail" />
              </div>
            </div>            
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label for="locationField">Choose Location</label>
                <select id="locationField" class="form-control">
                  {% for location in locations %}
                  <option value="{{ location.id }}">{{ location.name }}, {{ location.address }}, {{ location.city }}, {{ location.postcode }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label for="resourceField">Choose Clinician</label>
                <select id="resourceField" class="form-control">
                  {% for resource in resources %}
                  <option value="{{ resource.id }}">{{ resource.first_name }} {{ resource.last_name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label for="serviceField">Choose Service</label>
                <select id="serviceField" class="form-control">
                  {% for service in services %}
                  <option value="{{ service.id }}">&euro; {{ service.get_display_price }} - {{ service.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">             
              <div class="form-group">
                <label for="dateField">Choose the date of your visit</label>
                <select id="dateField" class="form-control">
                  {% for date in calendarDates %}
                  <option value="{{ date.id }}">{{ date.date }}/{{ date.month }}/{{ date.year }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="form-group">
                <label for="select">Choose the time</label>
                <select id="timeField" class="form-control">
                  {% for time in calendarTimes %}
                  <option value="{{ time.id }}">{{ time.hour }}:{{ time.minute }} h</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="wizard-buttons wow fadeInUp" data-wow-delay="0.8s">
            <div class="col-md-6 col-sm-6">
              <a href="../" role="button" class="btn btn-default btn-back">
                <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back
              </a>
            </div>
            <div class="col-md-6 col-sm-6 ">
              <button id="checkout-button" class="btn btn-primary pull-right">Complete
                Payment</i>
                </a>
            </div>
          </div>
        </div>
      </div>
      {% csrf_token %}
    </form>
  </div>
</section>

{% endblock %}

{% block postloadjs_extra %}
<script type="text/javascript">
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  // Create an instance of the Stripe object with your publishable API key
  const stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
  const checkoutButton = document.getElementById("checkout-button");
  checkoutButton.addEventListener("click", function () {

    const serviceSelect = document.getElementById('serviceField');
    const serviceId = serviceSelect.options[serviceSelect.selectedIndex].value;
    const checkoutUrl = `{{ checkoutUrl }}${serviceId}/`;
    // save appointment model backend
    // populate available services per selected resource via JS call from UI
    // populate available times per selected date via JS call from UI
    const appointment = {
      userId: 0,
      firstName: $('#firstNameField').val(),
      lastName: $('#lastNameField').val(),
      gender: $('#genderField').val(),
      phone: $('#phoneField').val(),
      email: $('#emailField').val(),
      resource: $('#resourceField').val(),
      location: $('#locationField').val(),
      service: $('#serviceField').val(),
      date: $('#dateField').val(),
      time: $('#timeField').val(),
    };
    fetch(checkoutUrl, {
      method: "POST",
      headers: {
        'X-CSRFToken': csrftoken
      },
      body: JSON.stringify({
        appointment
      })
    })
      .then(function (response) {
        return response.json();
      })
      .then(function (session) {
        return stripe.redirectToCheckout({ sessionId: session.id });
      })
      .then(function (result) {
        // If redirectToCheckout fails due to a browser or network
        // error, you should display the localized error message to your
        // customer using error.message.
        if (result.error) {
          alert(result.error.message);
        }
      })
      .catch(function (error) {
        console.error("Error:", error);
      });
  });

</script>
{% endblock %}
