{% extends "base.html" %}
{% load static %}
{% block menu_links %}
     <li><a href="../" class="smoothScroll"><i class="fa fa-home"></i> Go Back</a></li>
{% endblock %}
 
{% block page_header %}
{% endblock %}

{% block content %}
<!-- SUCCESS PAYMENT -->
<section id="wizard" data-stellar-background-ratio="3">
   <div class="container">
     <form id="appointment-form" role="form" method="post" action="#">
       <div class="row">
         <div class="col-md-12">
           <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
             <h2>Success Appointment Payment</h2>
           </div>
           You should receive an email with the appointment information and payment recipt 
         </div>
       </div>
       <div class="row">
         <div class="col-md-12">
           <div class="wizard-buttons wow fadeInUp" data-wow-delay="0.8s">
             <div class="col-md-6 col-sm-6">
               <a href="../" role="button" class="btn btn-default btn-back">
                 <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Go Back Home
               </a>
             </div>
           </div>
         </div>
       </div>
     </form>
   </div>
 </section>
{% endblock %}

{% block postloadjs_extra %}

{% endblock %}
