{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
    <!-- HOME -->
    <section id="home" class="slider" data-stellar-background-ratio="0.5">
        <div class="container">
             <div class="row">
                  <div class="owl-carousel owl-theme">
                       <div class="item item-first">
                            <div class="caption">
                                 <div class="col-md-offset-1 col-md-10">
                                      <h3>We will make your life happier</h3>
                                      <h1>Life without pain</h1>
                                      <a href="#team" class="section-btn btn btn-blue smoothScroll">Meet ours physiotherapists</a>
                                 </div>
                            </div>
                       </div>
                       <div class="item item-second">
                            <div class="caption">
                                 <div class="col-md-offset-1 col-md-10">
                                      <h3>Effective and professional physiotherapy</h3>
                                      <h1>Modern methods of physiotherapy</h1>
                                      <a href="#about"
                                           class="section-btn btn btn-default btn-gray smoothScroll">More About us</a>
                                 </div>
                            </div>
                       </div>
                       <div class="item item-third">
                            <div class="caption">
                                 <div class="col-md-offset-1 col-md-10">
                                      <h3>We will show you how to change your current lifestyle</h3>
                                      <h1>A new way of life</h1>
                                      <a href="#appointment" class="section-btn btn btn-default smoothScroll">Make an appointment for a visit</a>
                                 </div>
                            </div>
                       </div>
                  </div>
             </div>
        </div>
   </section>


   <!-- ABOUT US -->
   <section id="about">
        <div class="container">
             <div class="row">
                  <div class="col-md-6 col-sm-6">
                       <div class="about-info">
                            <h2 class="wow fadeInUp" data-wow-delay="0.6s">Welcome to Physio Acitivities</h2>
                            <div class="wow fadeInUp" data-wow-delay="0.8s">
                                 <p>The Clinic of Physiotherapy and Sports Rehabilitation was established primarily
                                      for the patient to whom we approach individually.</p>
                                 <p>Thank you for your trust. We appreciate all positive feedback.</p>
                                 <p>We invite you to use our services.</p>
                            </div>
                       </div>
                  </div>
             </div>
        </div>
   </section>


   <!-- OUR TEAM -->
   <section id="team" data-stellar-background-ratio="1">
        <div class="container">
             <div class="row">

                  <div class="col-md-6 col-sm-6">
                       <div class="about-info">
                            <h2 class="wow fadeInUp" data-wow-delay="0.1s">Our team of physiotherapists</h2>
                       </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-md-4 col-sm-6">
                       <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                            <img src="{% static 'images/team-image1.jpg' %}" class="img-responsive" alt="">

                            <div class="team-info">
                                 <h3>Jan Kowalski</h3>
                                 <p>Physiotherapy specialist</p>
                                 <div class="team-contact-info">
                                      <p><i class="fa fa-phone"></i> 200-300-400</p>
                                      <p><i class="fa fa-envelope-o"></i> <a
                                                href="#">jan.kowalski@physioactivities.com</a></p>
                                 </div>
                                 <ul class="social-icon">
                                      <li><a href="#" class="fa fa-linkedin-square"></a></li>
                                      <li><a href="#" class="fa fa-facebook-square"></a></li>
                                      <li><a href="#" class="fa fa-envelope-o"></a></li>
                                 </ul>
                            </div>

                       </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                       <div class="team-thumb wow fadeInUp" data-wow-delay="0.4s">
                            <img src="{% static 'images/team-image2.jpg' %}" class="img-responsive" alt="">

                            <div class="team-info">
                                 <h3>Jakub Sowa</h3>
                                 <p>Sports Physiotherapy</p>
                                 <div class="team-contact-info">
                                      <p><i class="fa fa-phone"></i> 100-200-300</p>
                                      <p><i class="fa fa-envelope-o"></i> <a
                                                href="#">jakub.sowa@physioactivities.com</a></p>
                                 </div>
                                 <ul class="social-icon">
                                      <li><a href="#" class="fa fa-linkedin-square"></a></li>
                                      <li><a href="#" class="fa fa-facebook-square"></a></li>
                                      <li><a href="#" class="fa fa-envelope-o"></a></li>
                                 </ul>
                            </div>

                       </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                       <div class="team-thumb wow fadeInUp" data-wow-delay="0.6s">
                            <img src="{% static 'images/team-image3.jpg' %}" class="img-responsive" alt="">

                            <div class="team-info">
                                 <h3>Monika Nowak</h3>
                                 <p>Bachelor of Physiotherapy</p>
                                 <div class="team-contact-info">
                                      <p><i class="fa fa-phone"></i> 700-000-010</p>
                                      <p><i class="fa fa-envelope-o"></i> <a
                                                href="#">monika.nowak@physioactivities.com</a></p>
                                 </div>
                                 <ul class="social-icon">
                                      <li><a href="#" class="fa fa-linkedin-square"></a></li>
                                      <li><a href="#" class="fa fa-facebook-square"></a></li>
                                      <li><a href="#" class="fa fa-twitter"></a></li>
                                      <li><a href="#" class="fa fa-envelope-o"></a></li>
                                 </ul>
                            </div>

                       </div>
                  </div>

             </div>
        </div>
   </section>


   <!-- SERVICES -->
   <section id="news" data-stellar-background-ratio="2.5">
        <div class="container">
             <div class="row">

                  <div class="col-md-12 col-sm-12">
                       <!-- SECTION TITLE -->
                       <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                            <h2>Services</h2>
                       </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                       <!-- NEWS THUMB -->
                       <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                            <a href="news-detail.html">
                                 <img src="{% static 'images/news-image1.jpg' %}" class="img-responsive" alt="">
                            </a>
                            <div class="news-info">
                                 <span>March 08, 2021</span>
                                 <h3><a href="news-detail.html">New technologies</a></h3>
                                 <p>The Clinic of Physiotherapy and Sports Rehabilitation is one of the most modern
                                      facilities providing comprehensive rehabilitation services in Poland.</p>
                                 <div class="author">
                                      <img src="{% static 'images/author.jpg' %}" class="img-responsive" alt="">
                                      <div class="author-info">
                                           <h5>Joao Sowa</h5>
                                           <p>Sports Physiotherapy</p>
                                      </div>
                                 </div>
                            </div>
                       </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                       <!-- NEWS THUMB -->
                       <div class="news-thumb wow fadeInUp" data-wow-delay="0.6s">
                            <a href="news-detail.html">
                                 <img src="{% static 'images/news-image2.jpg' %}" class="img-responsive" alt="">
                            </a>
                            <div class="news-info">
                                 <span>February 20, 2021</span>
                                 <h3><a href="news-detail.html">Treatment program</a></h3>
                                 <p>What is the correct course of treatment?</p>
                                 <div class="author">
                                      <img src="{% static 'images/author.jpg' %}" class="img-responsive" alt="">
                                      <div class="author-info">
                                           <h5>Joao Sowa</h5>
                                           <p>Sports Physiotherapy</p>
                                      </div>
                                 </div>
                            </div>
                       </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                       <!-- NEWS THUMB -->
                       <div class="news-thumb wow fadeInUp" data-wow-delay="0.8s">
                            <a href="news-detail.html">
                                 <img src="{% static 'images/news-image3.jpg' %}" class="img-responsive" alt="">
                            </a>
                            <div class="news-info">
                                 <span>January 27, 2021</span>
                                 <h3><a href="news-detail.html">Medical visit</a></h3>
                                 <p>How to prepare for the visit?</p>
                                 <div class="author">
                                      <img src="{% static 'images/author2.jpg' %}" class="img-responsive" alt="">
                                      <div class="author-info">
                                           <h5>Monika </h5>
                                           <p>Bachelor of Physiotherapy</p>
                                      </div>
                                 </div>
                            </div>
                       </div>
                  </div>

             </div>
        </div>
   </section>


   <!-- MAKE AN APPOINTMENT -->
   <section id="appointment" data-stellar-background-ratio="3">
        <div class="container">
             <div class="row">

                  <div class="col-md-6 col-sm-6">
                       <img src="{% static 'images/appointment-image.jpg' %}" class="img-responsive" alt="">
                  </div>

                  <div class="col-md-6 col-sm-6">
                       <!-- CONTACT FORM HERE -->
                       <form id="appointment-form" role="form" method="post" action="#">

                            <!-- SECTION TITLE -->
                            <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                                 <h2>Make an appointment</h2>
                            </div>

                            <div class="wow fadeInUp" data-wow-delay="0.8s">
                                 <div class="col-md-6 col-sm-6">
                                      <label for="name">First name and last name</label>
                                      <input type="text" class="form-control" id="name" name="name"
                                           placeholder="First name and last name">
                                 </div>

                                 <div class="col-md-6 col-sm-6">
                                      <label for="email">E-mail</label>
                                      <input type="email" class="form-control" id="email" name="email"
                                           placeholder="Your e-mail">
                                 </div>

                                 <div class="col-md-6 col-sm-6">
                                      <label for="date">Choose the date of your visit</label>
                                      <input type="date" name="date" value="" class="form-control">
                                 </div>

                                 <div class="col-md-6 col-sm-6">
                                      <label for="select">Choose a physiotherapist</label>
                                      <select class="form-control">
                                           <option>Jan Kowalski</option>
                                           <option>Jakub Sowa</option>
                                           <option>Monika Nowak</option>
                                      </select>
                                 </div>

                                 <div class="col-md-12 col-sm-12">
                                      <label for="telephone">Phone number</label>
                                      <input type="tel" class="form-control" id="phone" name="phone"
                                           placeholder="Your phone number">
                                      <label for="Message">Message</label>
                                      <textarea class="form-control" rows="5" id="message" name="message"
                                           placeholder="Comments"></textarea>
                                      <button type="submit" class="form-control" id="cf-submit"
                                           name="submit">Send</button>
                                 </div>
                            </div>
                       </form>
                  </div>

             </div>
        </div>
   </section>


   <!-- LOCATION - GOOGLE MAP -->
   <section id="google-map">
        <!-- How to change your own map point
          1. Go to Google Maps
          2. Click on your location point
          3. Click "Share" and choose "Embed map" tab
          4. Copy only URL and paste it within the src="" field below
  -->
        <iframe
             src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3647.3030413476204!2d100.5641230193719!3d13.757206847615207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf51ce6427b7918fc!2sG+Tower!5e0!3m2!1sen!2sth!4v1510722015945"
             width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
   </section>
{% endblock %}