{% extends "base.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block menu_links %}
     <li><a href="../" class="smoothScroll"><i class="fa fa-home"></i> Go Back</a></li>
{% endblock %}
 
{% block page_header %}
{% endblock %}

{% block content %}

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

                <div class="{% if show_signup == 'false' %}col-md-12{% elif show_signup == 'true' %}col-md-6{% endif %}">
                    <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                        <h2>Login Form</h2>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                        {% if messages %}
                            {% for message in messages %}
                                <div style="color: #d43f3a; font-size: medium">
                                    {{ message|safe }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        <form method="post">
                            {% csrf_token %}
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input class="form-control" type="text" name="username" placeholder="Username">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 ">
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input class="form-control" type="password" name="password" placeholder="Password">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 ">
                                <button type="submit" class="btn btn-primary pull-right">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
                {% if show_signup == 'true' %}
                <div class="col-md-12">
                    <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                        &nbsp;
                    </div>                    
                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                        <div class="container">
                            </div>
                        </div>
                    </div>
                </div>                
                {% endif %}
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

{% endblock %}