{% extends "base.html" %} {% load static %} {% block extra_css %} {% endblock %}
{% block menu_links %}
<li>
  <a href="../" class="smoothScroll"><i class="fa fa-home"></i> Go Back</a>
</li>
{% endblock %} {% block page_header %} {% endblock %} {% block content %}

<!-- section -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
          <h2>User Profile</h2>
        </div>
        <div class="wow fadeInUp" data-wow-delay="0.8s">
          <table class="table">
            <tr>
              <th class="text-left">
                <a href="/user/update" class="primary-btn">Update Profile</a>
                <a href="/user/password" class="primary-btn">Change Password</a>
              </th>
            </tr>
            <tr>
              <th class="text-left">Full Name</th>
              <td class="text-left">
                {{ user.first_name}} {{user.last_name}}
              </td>
            </tr>
            <tr>
              <th class="text-left">Email</th>
              <td class="text-left">{{profile.user.email}}</td>
            </tr>
            <tr>
              <th class="text-left">Phone</th>
              <td class="text-left">{{profile.phone}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /section -->

{% endblock %}
