{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'bookings/css/index.css' %}" />
{% endblock %}

{% block menu_links %}
  <li><a href="../" class="smoothScroll"><i class="fa fa-home"></i> Go Back</a></li>
{% endblock %}
 
{% block page_header %}
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Thank You</h2>
                <hr>
                <p class="text-black">Your Appointment information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>
        
{% endblock %}