{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'bookings/css/index.css' %}" />
{% endblock %}

{% block menu_links %}
  <li><a href="../" class="smoothScroll"><i class="fa fa-home"></i> Go Back</a></li>
{% endblock %}
 
{% block page_header %}
{% endblock %}

{% block content %}

<!-- Bookings -->
<section id="wizard" data-stellar-background-ratio="3">
  <div class="container">
    <form id="booking-form">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
            <h2>Appointment</h2>
          </div>
          <div class="wow fadeInUp" data-wow-delay="0.8s">
            {% csrf_token %}
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                  <label for="first_name">First Name</label>
                  <label id="first_name" class="form-control">{{ user.first_name }}</label>
              </div>            
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                  <label for="first_name">Last Name</label>
                  <label id="first_name" class="form-control">{{ user.last_name }}</label>
              </div>            
            </div>                       
            {% for field in form %}
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                  <label for="total">Total to Pay</label>
                  <div id="total" class="form-control">€ 0.00</div>
              </div>            
            </div>                                   
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
      <fieldset class="px-3">
          <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
          <!-- A Stripe card element will go here -->
          <div class="mb-3" id="card-element"></div>

          <!-- Used to display form errors -->
          <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
      </fieldset>
    </div>  
  </div>  
  <div class="row">
    <div class="col-md-12">
      <div class="wizard-buttons wow fadeInUp" data-wow-delay="0.8s">
        <div class="col-md-6 col-sm-6">
          <a href="../" role="button" class="btn btn-default btn-back">
            <i></i>&nbsp;&nbsp;Complete Payment
          </a>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12">
        <div class="wizard-buttons wow fadeInUp" data-wow-delay="0.8s">
          <div class="col-md-6 col-sm-6">
            <a href="../" role="button" class="btn btn-default btn-back">
              <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back
            </a>
          </div>
        </div>
      </div>
    </div>
    {% csrf_token %}
  </form>
</div>
</section>

{% endblock %}

{% block postloadjs %}
  {{ block.super }}
  {{ stripe_public_key|json_script:"id_stripe_public_key" }}
  {{ client_secret|json_script:"id_client_secret" }}
  <script src="{% static 'bookings/js/index.js' %}"></script>
  <script src="{% static 'bookings/js/stripe_elements.js' %}"></script>
{% endblock %}