{% extends "base.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block menu_links %}
     <li><a href="../" class="smoothScroll"><i class="fa fa-home"></i> Go Back</a></li>
{% endblock %}
 
{% block page_header %}
{% endblock %}

{% block content %}

<!-- APPOINTMENT -->
<section id="wizard" data-stellar-background-ratio="3">
  <div class="container">
    <form id="appointment-form" role="form">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
            <h2>Apppointment</h2>
          </div>
          <div class="wow fadeInUp" data-wow-delay="0.8s">
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label for="firstNameField">First Name</label>
                <input type="text" id="firstNameField" class="form-control" placeholder="First Name" />
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label for="lastNameField">Last Name</label>
                <input type="text" id="lastNameField" class="form-control" placeholder="Last Name" />
              </div>
            </div>            
            <div class="col-md-3 col-sm-6">
              <div class="form-group">
                <label for="genderField">Gender</label>
                <select id="genderField" class="form-control">
                  <option>None</option>
                  <option>Female</option>
                  <option>Male</option>
                </select>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="form-group">
                <label for="phoneField">Phone / Mobile No. </label>
                <input type="text" id="phoneField" class="form-control" placeholder="Phone / Mobile  No." />
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label for="emailField">E-mail</label>
                <input type="email" id="emailField" class="form-control" placeholder="E-mail" />
              </div>
            </div>            
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label for="locationField">Choose Location</label>
                <select id="locationField" class="form-control">
                  {% for location in locations %}
                  <option value="{{ location.id }}">{{ location.name }}, {{ location.address }}, {{ location.city }}, {{ location.postcode }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label for="resourceField">Choose Clinician</label>
                <select id="resourceField" class="form-control">
                  {% for resource in resources %}
                  <option value="{{ resource.id }}">{{ resource.first_name }} {{ resource.last_name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label for="serviceField">Choose Service</label>
                <select id="serviceField" class="form-control">
                  {% for service in services %}
                  <option value="{{ service.id }}">&euro; {{ service.get_display_price }} - {{ service.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">             
              <div class="form-group">
                <label for="dateField">Choose the date of your visit</label>
                <select id="dateField" class="form-control">
                  {% for date in calendarDates %}
                  <option value="{{ date.id }}">{{ date.date }}/{{ date.month }}/{{ date.year }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="form-group">
                <label for="select">Choose the time</label>
                <select id="timeField" class="form-control">
                  {% for time in calendarTimes %}
                  <option value="{{ time.id }}">{{ time.hour }}:{{ time.minute }} h</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="wizard-buttons wow fadeInUp" data-wow-delay="0.8s">
            <div class="col-md-6 col-sm-6">
              <a href="../" role="button" class="btn btn-default btn-back">
                <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back
              </a>
            </div>
            <div class="col-md-6 col-sm-6 ">
              <button id="checkout-button" class="btn btn-primary pull-right">Complete
                Payment</i>
                </a>
            </div>
          </div>
        </div>
      </div>
      {% csrf_token %}
    </form>
  </div>
</section>

{% endblock %}


{% endblock %}