{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block menu_links %}
  <li><a href="../" class="smoothScroll"><i class="fa fa-home"></i> Go Back</a></li>
{% endblock %}
 
{% block page_header %}
{% endblock %}

{% block content %}

<!-- Services -->
<section id="wizard" data-stellar-background-ratio="3">
  <div class="container">
    <form id="services-form" method="post">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
            <h2>Appointment Information</h2>
          </div>
          <div class="wow fadeInUp" data-wow-delay="0.8s">
            {% for field in form %}
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="total">Total</label>
                    <div id="total" class="form-control">€ 0.00</div>
                </div>            
            </div>                                   
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="wizard-buttons wow fadeInUp" data-wow-delay="0.8s">
            <div class="col-md-6 col-sm-6">
              <a href="../" role="button" class="btn btn-default btn-back">
                <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back
              </a>
            </div>
            <div class="col-md-6 col-sm-6 ">
              <button type="submit" id="payment-button" class="btn btn-primary pull-right">Make Payment</button>
            </div>
          </div>
        </div>
      </div>
      {% csrf_token %}
    </form>
  </div>
</section>

{% endblock %}

{% block postloadjs %}
  {{ block.super }}
  <script src="{% static 'services/js/index.js' %}"></script>
{% endblock %}